/**
 * Your CSS goes here.
 */

 
html{
    min-width: 20%;
    max-width: 120%;
    max-height: 200%;
    min-height: 20%;
    background-image: url("https://www.hdwallpapers.in/download/halloween_5_4k_8k_hd-5120x2880.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}


body{
    margin: 7%;
    height: 100%;
   /**  background: rgb(131,234,241);
   /** background: linear-gradient(135deg, #0D324D, #7F5A83 99%); */
font-family: 'Noto Sans Mono', monospace;
}

.madLibsEdit , .madLibsPreview{
    margin: 1%;
    min-width: 60vw;
    max-width: 70vw;
    min-height: 20vh;
    max-height: 70vh;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    box-shadow: rgba(255, 172, 63, 0.808) 0px 7px 29px 0px;
    padding: 5%;
}



h1 {
    display: flex;
    justify-content: center;
    font-family: 'Creepster', cursive;
    margin: 1%;
    min-width: 60vw;
    max-width: 67vw;
    min-height: 0.5vh;
    font-size: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    box-shadow: rgba(255, 172, 63, 0.808) 0px 7px 29px 0px;
    padding: 2%;
}

input {
    border-radius: 5px;
    width: 15%;
    text-align: center;
    background-color: lightgray;
    
}

input:focus {
    background-color: rgb(248, 211, 143);
    text-align: center;
}
input:hover{
    background-color: rgb(248, 211, 143); /*Red*/
    transition: background-color 0.5s ease;
    
}

@media only screen and (max-width: 1200px){
    body{
        margin: 10%;
    }

    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 650px){
	/*Big smartphones [426px -> 600px]*/
    h1 { font-size: 25px;
    }
}
@media only screen and (max-width: 425px){
    h1 { font-size: 15px;
    }
    input {
        width: 15%; 
    }
    .madLibsEdit , .madLibsPreview{
        font-size: 15px;
        max-width: 70vw;
        max-height: 120vh;
        padding: 30px 0;
    }
    

	/*Small smartphones [325px -> 425px]*/
}
